<br>
<div>
    <h1 class="text-center pb-4">Saca la distancia entre dos puntos</h1>
    <form [formGroup]="mates">
<br>
<hr>
 
<div class="row justify-content-center align-items-center">
    <div class="col-4">
        <div class="row ">
                <div class="col-4 pb-2">
                    <label for="">coordenada x1</label>
                    <input class="rounded-3 " formControlName='x1' type="number">
                </div>
                <div class="col-4 ps-5">
                    <label for="">coordenada y1</label>
                    <input class="rounded-3 " formControlName='y1' type="number">
            </div>
        </div>
 
        <div class="row ">
                <div class="col-4 ">
                    <label for="">coordenada x2</label>
                    <input class="rounded-3" formControlName='x2' type="number">
                </div>
                <div class="col-4 ps-5">
                    <label for="">coordenada y2</label>
                    <input class="rounded-3 " formControlName='y2' type="number">
                </div>
        </div>
       
    </div>
    <hr class="hrvertical">
    <h3 class="col-4">Resultado = {{resultado2}}</h3>
</div>
<br>
<hr>
        <div class="text-center mt-4">
        <button class="btn btn-success" (click)="res()" type="submit">calcular distancia</button>
        </div>
       
    </form>
</div>